@page
@model Tribeea.Pages.PrizesModel
@{
    ViewData["Title"] = "Prizes";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>9 or less Teams
        <ol>
            <li>1 pull</li>
            <li>Punch Cards</li>
        </ol>
    </li>
    <li>
        10 - 12 Teams
        <ol>            
            <li>1 pull</li>
            <li>Punch Cards</li>
            <li>Punch Cards</li>
        </ol>
    </li>
    <li>
        13 - 15 Teams
        <ol>
            <li>2 pulls</li>
            <li>1 pull</li>
            <li>Punch Cards</li>
            <li>Punch Cards</li>
        </ol>
    </li>
    <li>
        16 or more Teams
        <ol>
            <li>2 pulls</li>
            <li>1 pull</li>
            <li>1 pull</li>
            <li>Punch Cards</li>
            <li>Punch Cards</li>
        </ol>
    </li>
</ul>